body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-image: url('../img/main-screen__bgc.jpg');
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-color: black;
}

.main_page {
    height: calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    margin: 38px 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 50px;
}

ul li a:hover {
    color: #DA5750;
}

.cabinet {
    padding: 10px 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabinet:hover {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.one_text {
    margin-left: 16.25%;
    margin-top: 188px;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    max-width: 780px;
    margin: 0;
}

.card {
    background: #121212;
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    margin-right: 30px;
    margin-top: 45px;
}

.card_one {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
}

.card_two {
    font-size: 16px;
    line-height: 140%;
    opacity: 0.4;
}

.zakaz_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 0 16.25%;
    height: 130px;
}

.zakaz_btn {
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zakaz_btn:hover {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.apprentice {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
}

.apprentice>span {
    margin-right: 20px;
}

.line_white {
    width: 450px;
    height: 6px;
    background-color: #ffffff;
}

.line_gradient {
    width: 220px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.bottom_10 {
    margin-bottom: 10px;
}

.bottom_7 {
    margin-bottom: 7px;
}